In [5]:
def student(name, age):
    print('name:', name)
    print('age:', age)

In [7]:
student('max', 22)

name: max
age: 22

In [8]:
def student(name = 'unknown name', age = 0):
    print('name:', name)
    print('age:', age)

In [9]:
student()

name: unknown name
age: 0

In [10]:
def student(name = 'unknown name', age = 0):
    print('name:', name)
    print('age:', age)

In [11]:
student('tom')

name: tom
age: 0

In [ ]:
#3 arguments

In [12]:
def student(name, age, marks):
    print('name:', name)
    print('age:', age)
    print('marks:', marks)

In [13]:
student('tom', 22, 45)

name: tom
age: 22
marks: 45

In [14]:
def student(name, age, *marks):
    print('name:', name)
    print('age:', age)
    print('marks', marks)

In [15]:
student('tom', 22, 75, 65, 100, 98)

name: tom
age: 22
marks (75, 65, 100, 98)

In [16]:
def student(name, age, **marks):
    print('name:', name)
    print('age:', age)
    print('marks', marks)

In [17]:
student('tom', 22, english=75, math=65, physics=100, chemistry=98)

name: tom
age: 22
marks {'english': 75, 'math': 65, 'physics': 100, 'chemistry': 98}

In [18]:
def student(name, age, **marks):
    print('name:', name)
    print('age:', age)
    print('marks', marks)
    for key, value in marks.items():
        print(key, '=', value)

In [19]:
student('tom', 22, english=75, math=65, physics=100, chemistry=98)

name: tom
age: 22
marks {'english': 75, 'math': 65, 'physics': 100, 'chemistry': 98}
english = 75
math = 65
physics = 100
chemistry = 98